@import "tailwindcss";
@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00a3f7;
  --color-neutral: #8e8e8e;
  --color-neutral-second: #f6f8fa;
  /* --color-neutral-second: #f1f5f9; */
  --color-success: #23c45e;
  --color-success-second: #e1ffec;
  --color-error: #ff5053;
  --color-error-second: #fef3f3;

  --color-background: #ffffff;
  --color-foreground: #292d32;

  --font-sans: "Noto Sans Thai", sans-serif;
}

@layer base {
  body {
    @apply font-sans text-foreground bg-background;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-floatX {
  animation: floatX 5s ease-in-out infinite;
}
